@page
@model MyLibraryRazor.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Subtitle" class="control-label"></label>
                <input asp-for="Book.Subtitle" class="form-control" />
                <span asp-validation-for="Book.Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input list="authorlist" class="form-control" />
                <datalist id="authorlist">
                    <select asp-for="Book.AuthorId" class="form-control" asp-items="ViewBag.AuthorList">
                    </select>
                </datalist>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="@Model.PublisherInputStr" class="form-control" oninput="OnInputPublisher()" placeholder="入力して絞り込み"/>
                <a href="javascript:void(0)" onclick="$('#exampleModal').modal()">
                    リストにない場合は新規追加
                </a>
                <select asp-for="Book.PublisherId" class="form-control" size="5">
                    @foreach (var item in Model.Publishers)
                    {
                        <option value="@item.PublisherId" label="@item.Label"></option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishDate" class="control-label"></label>
                <input type="month" asp-for="Book.PublishDate" class="form-control" />
                <span asp-validation-for="Book.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.LeadSentence" class="control-label"></label>
                <input asp-for="Book.LeadSentence" class="form-control" />
                <span asp-validation-for="Book.LeadSentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <input asp-for="Book.ImageUrl" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-page="Publishers/create">
                <div class="modal-body">
                    <input asp-for="Publisher.Label" class="form-control" placeholder="レーベルを入力"/>
                    <input asp-for="Publisher.Company" class="form-control" placeholder="出版社を入力" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" >出版レーベルを追加</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
