@page
@model MyLibraryRazor.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Subtitle" class="control-label"></label>
                <input asp-for="Book.Subtitle" class="form-control" />
                <span asp-validation-for="Book.Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">著者を設定</button>
                <input asp-for="Book.Author" list="authorlist" class="form-control" />
                <datalist id="authorlist">
                    <select asp-for="Book.Author" class="form-control" asp-items="ViewBag.AuthorList">
                    </select>
                </datalist>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input type="text" list="publist" class="form-control" />
                <datalist id="publist">
                    <select asp-for="Book.Publisher" class="form-control" asp-items="ViewBag.Publisher">
                    </select>
                </datalist>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishDate" class="control-label"></label>
                <input type="month" asp-for="Book.PublishDate" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.LeadSentence" class="control-label"></label>
                <input asp-for="Book.LeadSentence" class="form-control" />
                <span asp-validation-for="Book.LeadSentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <input asp-for="Book.PublishDate" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
